body {font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #b6e0e7; 
    color: #AD77C3; 
    margin: 16pt;}

h1 {background-color: #f7d3f1;
    color: #080808;
    font-size: 36pt;}

h2 {background-color: #f2d8ee;
    color: #faf7f7;
    font-size: 20pt;}

p {font-family: 'Times New Roman', sans-serif;
    font-size: 14pt;
    color: #bd09bd;}

A:link {text-decoration: underline; color: rgb(9, 12, 218)}
A:visited {text-decoration: none; color: rgb(244, 135, 18);}
A:active {text-decoration: underline overline}
A:hover {font-size:20pt; font-weight:bold; color: rgb(255, 0, 225);}

.table-container {display: flex;flex-direction: column;}
.table-row {display: flex;}

.link-cell,
.description-cell {border: 1px solid #060606}

/*This is the sytle of the insert name button*/
#NameButton {
background-color: #AD77C3;
    border: 2px solid #0e0d0d;}

/* Size adjustment for the orignal photo*/
#myImage {
    max-width: 5%;
    max-height: 5%;}

/* the style choice was made to make the navigation items lined up horizontalyy*/
#mainMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; }

#mainMenu li {
    margin-right: 20px; }

#mainMenu a {
    text-decoration: none;
    display: inline-block; }

/* Here is the design of the submenu which is aligned with the rest of the website in colour and style */
#subMenu {
    display: none;
    position: absolute;
    top: 23%;
    right: 72.5%;
    background-color: #AD77C3;
    border: 1px solid #0e0d0d;
    padding: 0;}

#subMenu li {
    list-style: none;}

#subMenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #b6e0e7;}

#subMenu a:hover {
    background-color: #131313;}
